<div class="container my-5">

    <h1 class="mb-3">Employees</h1>
    <p *ngIf="(employees$| async) == null">Loading...</p>
    <!-- <p *ngIf="employees$.length === 0">No Employees Found</p> -->
    <p *ngIf="(employees$| async)?.length === 0">No Employees Found</p>
    <!-- <table class="table" *ngIf="employees.length > 0"> -->
        <table class="table" *ngIf="(employees$| async) != null && (employees$| async)?.length !== 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Department</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees$|async">
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.department }}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/employees', 'edit', employee.id]" role="button">Edit</a> 
                    <!-- <button class="btn btn-primary" (click)="editEmployee()" >Edit</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
