<div class="container my-5">
    <h1 class="mb-3">Add New Employee</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addEmployee()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="newEmployee.name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" [(ngModel)]="newEmployee.email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" name="phone" id="phone" [(ngModel)]="newEmployee.phone">
                </div>
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" class="form-control" name="salary" id="salary" [(ngModel)]="newEmployee.salary">
                </div>
                <div class="mb-3">
                    <label for="department" class="form-label">Department</label>
                    <input type="text" class="form-control" name="department" id="department" [(ngModel)]="newEmployee.department">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
!!!{{newEmployee|json}}!!!
